html {
	/*
	 * I don't think I need all these browser extensions for a chrome app, but I'm
	 * going to leave them in for now
	 
	background: #56A0D3; 
    background: -webkit-gradient(linear, top, bottom, from(#56A0D3), to(#286DA3));
    background: -webkit-linear-gradient(top, #56A0D3, #286DA3);
    background: -moz-linear-gradient(top, #56A0D3, #286DA3); 
    background: -ms-linear-gradient(top, #56A0D3, #286DA3); 
    background: -o-linear-gradient(top, #56A0D3, #286DA3); 
    background: linear-gradient(top, #56A0D3, #286DA3);
    */
    background: -webkit-gradient(linear, top, bottom, from(#F0F2F7), to(#DDD));
}

#canvas {
	display: block;
	padding: 0;
	margin: 1px auto;
	
	-webkit-box-shadow: 0 0 12px #333;
	-moz-box-shadow: 0 0 12px #333; /* I guess we can add this too even though this a chrome app... */
	box-shadow: 0 0 12px #333;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#options {
	height: auto;
	width: auto;
	position: absolute;
	display: none; /*initially hide the options dialog while we load game assets*/
}

#options button {
	font-size: 1em;
}

#statsDialog p {
	color: yellow;
}

#statsDialog span {
	color: #FFF;
}

#messagesDialog {
	height: 150px !important;
	overflow: hidden;
}

#messagesDialog .time {
	color: yellow;
}

#inventoryDialog div {
	cursor: pointer;
	overflow: hidden;
	float: left;
	position: relative;
	width: 35px; /* was 32 before*/
	height: 38px; /* was 32 before*/
	
	background: #555;
	box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.8);
	border: 1px solid yellow;
	margin: 2px;
	padding-top: 2px;
}

#inventoryDialog div span.quantity {
	position: absolute;
	bottom: 0px;
	right: 2px;
	
	color: yellow;
	font-size: 11px;
}

/* initially hide all of the dialogs */
#statsDialog, #inventoryDialog, #messagesDialog {
	display: none;
}

/*#options button {
	cursor: pointer;
	background: #000;
	border: 1px solid #FFF;
	border-radius: 5px;
	color: #FFF;
	display: inline-block;
	font-family: system, sans-serif;
	font-size: 16px;
	padding: 5px 10px;
	text-shadow: 0 0 0 rgba(255, 255, 255, 0.3);
}

#options button:hover {
	background: #FFF;
	color: #000;
}*/

/*override jQuery UI font size*/
.ui-widget {
	font-size: 0.9em;
}
